::-webkit-scrollbar {
    width: 0px;
  }
  
  .container {
    display: flex;
    overflow-x: scroll;
    width: 100%;
    padding: 2rem 0rem;
  }
  
  .Tcard {
    flex-shrink: 0;
    width: 50%;
    height: 16rem;
    background-color: #171717;
    border-radius: 1rem;
    margin-left: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 0.5rem;

  }