.projectsList{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 3rem;
}

.card{
    max-width: 768px;
    height: 12rem;
    background-color: #FFFFFF10;
    border-radius: 0.5rem;

    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition: box-shadow 0.3s ease;

    box-shadow: 1px 1px 0px #343434,
    2px 2px 0px #343434,

    
}
.card:hover{
    background-color: #FFFFFF20;
    cursor: url('../assets/hover.png'),auto;

    box-shadow: 1px 1px 0px #ff764490,
    2px 2px 0px #ff764490,
    3px 3px 0px #ff764490,
    4px 4px 0px #ff764490,
    5px 5px 0px #ff764490,
    6px 6px 0px #ff764490
  
}



.cardGroup{
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}
/* .cardGroup:after {
    
	content: '';
	height: 0.5rem;
	width: 100%;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    display: block;
    border-bottom: 0.2rem solid #000000d0;
    margin-top: -0.6rem;
 	transition: width 1s ease
}
.cardGroup:hover:after {
    display: block;

    border-bottom: 0.2rem solid #ff764490;
	width: 100%;
	background: transparent;
} */